body {
  margin: 0;
  box-sizing: border-box;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

button {
  margin: 5px;
  padding: 5px 15px 5px 15px;
  border-radius: 4px;
  border: 0;
  box-shadow: 1px 2px grey;
}

input {
  padding: 5px;
  margin: 3px;
  border-radius: 2px;
  border: 0;
}

#edit-text-input {
  visibility: hidden;
}
